<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>
<h1> INSERT ITEM</h1>
<form action="/items" method="POST">


    <label for="id_nom">Nom</label>
    <input id="id_nom" type="text" name="nom" ><br>

    <label for="rol">Rol</label>
    <input id="rol" type="text" name="rol" >


    <input type="submit" value="insert">
</form>
</body>
</html>